  <div class="user_page">
    <header class="user_page-header">
      <div class="yjContainer">
        <a href="">

        </a>
      </div>
    </header>
    <div class="pt1em pb1em" id="contents">  <div id="main_cnt_wrapper">
      <div id="yjContentsBody">
        <div class="yjContainer">
          <ul class="user_page-contents">
                <div class="meta">
                  <header>
                  </header>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </div>