/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.rate {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 16px;
  font-size: 16px;
}
.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display: inline-block;
  height: 16px;
  line-height: 16px;
}
.rate:before {
  color: #ddd;
}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap;
}

.rate00:after {
  width: 0;
}

.rate10:after {
  width: 16px;
}

.rate15:after {
  width: 26px;
}

.rate20:after {
  width: 36px;
}

.rate25:after {
  width: 45.5px;
}

.rate30:after {
  width: 54px;
}

.rate35:after {
  width: 64.5px;
}

.rate40:after {
  width: 72px;
}

.rate45:after {
  width: 81.5px;
}

.rate50:after {
  width: 90px;
}

.wrap {
  width: 80px;
  margin: 0 auto;
}







/*

.rate {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 20px;
  font-size: 20px;
}
.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
.rate:before {
  color: #ddd; /*星色*/
/*}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap; /*重要*/
/*}

.rate00:after{width: 0;}
.rate05:after{width: 10px;}
.rate10:after{width: 20px;}
.rate15:after{width: 30px;}
.rate20:after{width: 40px;}
.rate25:after{width: 50px;}
.rate30:after{width: 60px;}
.rate35:after{width: 70px;}
.rate40:after{width: 80px;}
.rate45:after{width: 90px;}
.rate50:after{width: 100px;}*/