  <div class="contents row">
    <%= form_tag("/reviews/#{@review.id}", method: :patch ) do %>
      <h3>
        編集する
      </h3>
      <input placeholder="rate" type="text" name="rate" value="<%= @review.rate %>" autofocus="true">
      <textarea cols="30" name="review" placeholder="review" rows="10"><%= @review.review %></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>